html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #999;
  font-family: Helvetica;
  font-size: 14px;
}

h1 {
  margin: 0 .2em;
  font-size: 25px;
  font-weight: normal;
}

canvas {
  display: block;
  height: 90%;
  width: 100%;
  background: #666;
}

#connected {
  position: absolute;
  top: 4px;
  font-size: 19px;
  right: 6px; 
}

.waiting {
  text-align: center;
  margin: 0;
  height: 100%;
}

.waiting h2 {
  font-weight: normal;
  color: #444; 
}

.waiting .status {
  font-size: 56px;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 56px;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ie-transform: translateY(-50%);
}

.home {
  margin: 4%;
}

.home h1 {
  margin-left: 0;
  margin-bottom: 42px;
  font-size: 40px;
}

.home p {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 18px;
  width: 500px;
  line-height: 48px;
}

.home a {
  color: #cc9;
}