html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #fff;
  font-family: Helvetica;
  font-size: 14px;
}

h1 {
  margin: 0 .2em;
  font-size: 25px;
  font-weight: normal;
}

canvas {
  display: block;
  height: 800px;
  width: 100%;
  background: #000;
}